
@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
      format("woff");
    font-weight: 400;
    font-style: normal;
  }
  
  body {
    font-family: "Pretendard-Regular";
    margin: 0;
    padding: 0;
  }
  
  p {
    margin: 0;
    padding: 0;
  }
  
  /* 폰트 스타일 */
  .main-title {
      font-family: "Pretendard-Regular";
      font-weight: 900;
      font-size: 2.7rem;
      line-height: 120%;
    }
    
  .sub-title {
    font-family: "Pretendard-Regular";
    font-weight: 900;
    font-size: 1.5rem;
    color: #0554f6;
    margin-top: 2.5em;
  }
  
  .note-title {
    font-family: "Pretendard-Regular";
    font-weight: 900;
    font-size: 1.2rem;
    color: #0554f6;
  }
  
  .note-text {
    font-family: "Pretendard-Regular";
    font-weight: 900;
    font-size: 1.2rem;
  }
  
  .counter-text {
    font-family: "Pretendard-Regular";
    font-weight: 900;
    font-size: 7rem;
    color: #0554f6;
  }
  
  .changing-emoji {
    font-size: 5.5rem;
    margin-bottom: 0.2em;
  }
  
  
  /* 영역 스타일 */
  .exercise-calories-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    min-height: 100dvh;
  }
  
  .calories-title-area{
    margin-bottom: 1em;
  }
  
  .exercise-calories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    margin: 0.2em;
  }
  
  .exercise-input-area {
    width: 35em;
    height: 25em;
    background-color: #f9fafb;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .result-area {
    width: 35em;
    height: 25em;
    background-color: #f9fafb;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation: fadeIn 2s ease-in-out forwards;
  }
  
  .message-text-area{
    width: 90%;
    margin-bottom: 1em;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .recommend-exercise{
    margin-top: 2.5em;
  }
  
  .guide-img-wrap {
    display: flex;
    justify-content: center;
  }
  
  .search-guide-img {
    display: flex;
  }
    
  /* 요소 스타일 */
  .exercise-input-box {
    border: none;
    border-radius: 1em;
    width: 90%;
    height: 80%;
    padding-left: 1em;
  }

  .exercise-search-button {
    border: none;
    border-radius: 2em;
    width: 90%; 
    height: 50px;
    background-color: #0554f6;
    color: white;
    margin-top: 1em;
  }
  
  .img-container {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow: hidden;
    margin: 10px;
  }
  
  .img-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    position: relative;
  }
  
  /* 네브바 스타일 */
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: 900;
  }
  
  .nav-box {
    width: 30em;
    height: 4.2em;
    border-radius: 30em;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    gap: 2em;
  }
  
  .nav-item {
    gap: 15em;
  }
  
  .nav-link {
    transition: all 0.5s;
  }
  
  .nav-link:hover {
    font-weight: 900;
    color: #0554f6;
  }
  
  .my-icon {
    width: 3em;
    height: 3em;
    border-radius: 100%;
    background-color: #0554f6;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 63rem) {
    body {
      padding: 2em;
    }
    .exercise-calories-wrap{
      padding: 4em 1em;
    }
    .navbar{
      position: sticky;
      background-color: white;
      top: 0;
    }
  }

/* =====효준 코드 시작 */
.info-area{
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;

}



.info-text-area{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.info-text-area h1{
    font-size: 5em;
    margin: 0;
}
.info-text-area h4{
    margin-top: 1em;
}

.self-check-area{
    margin-top: 3em;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.self-check-area div{
    border: 1px solid black;
    display: inline-block;
    padding: 1em;

    background-color: white;
    color: black;
}


.name-height-weight-area{
    margin-top: 5em;

    display: flex;
    
    justify-content: space-around;
}

/* ----버튼 css */

.body-check-area button{
    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 150px;
    padding: 10px 20px;
    cursor: pointer;
  }

    .body-check-button-clicked{
        background-color: red;
        color: white;
        border: 1px solid red;
    }


.like-exercise-check-area button{

    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 150px;
    padding: 10px 20px;
    cursor: pointer;
}
    .like-exercise-check-button-clicked{
        background-color: green;
        color: white;
        border: 1px solid green;
    }


.like-food-check-area button{

    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 150px;
    padding: 10px 20px;
    cursor: pointer;
}
    .like-food-check-button-clicked{
        background-color: blue;
        color: white;
        border: 1px solid blue;
    }
/* ==========효준 코드 끝 */


/* .info-input-box{
    margin-left: 6em;
    width: calc(50% - 54px);
    display: inline-block;
    background-color: #fc6c7c;
}


.input-area>input{
    margin-right: 0.5rem;
    margin-top: 3rem;
    width: 80%;

    border: none;
    border-bottom: 3px solid lightgray;

}
.input-area>input:focus{
    outline: none;
    border-bottom: 3px solid rgb(235, 60, 241);

}
  

.add-button{
    background-color: rgb(235, 60, 241);
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(235, 60, 241);
    display: flex;
    align-items: center;

    height: 30px;
    align-self: end;
}
.add-button>i{
    padding-top: 1px;
    color:   #F0F0F0;
    
}
.add-button:disabled{
    background-color: #b7b5b5;
    border-color: #b7b5b5;
}
.add-button:disabled>i{
    color: #F0F0F0;
} */


/* --------recipe style 이수---------*/
.recipe-area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-title-area{
  text-align: center;
  margin-bottom: 1rem;
}

.cotent-center{
  display: flex;
  justify-content: center;
}

.recipe{
  background-color: #f9fafb;
  border-radius: 1.5em;
  margin: 0.5rem 0.5rem;
  width: 30em;
  height: 38em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.emoji{
  font-size: 3rem;
}

.recipecard-area{
  overflow-x: scroll;
  position: relative;
}

.recipecard-area ::-webkit-scrollbar-horizontal {
  height: 12px; /* 스크롤 바의 높이 */
  background-color: #f0f0f0; /* 스크롤 바의 배경색 */
}

.arrow-button{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-scroll{
  display: flex;
  width: max-content;
}

.recipe-research{
  margin: 2rem 0rem;
}

.recipe-research input{
  width: 20rem;
  height: 3rem;
  border: none;
  border-radius: 1rem;    
  text-align: center;
}

.recipe-research button{
  width: 4rem;
  height: 3rem;
  border: none;
  border-radius: 2rem;
  background-color: #0554f6;
  color: white;
}

.recipe-card{
  border: none;
  background-color: white;
  border-radius: 1rem;
  margin-right: 0.5rem;
  padding: 0;
  width: 12rem;
  height: 14.5rem;
  overflow: hidden;
  position: relative;
}

.recipe-card-image{
  height: 8rem;
  overflow: hidden;
  margin-bottom: 0.5rem;
  position: relative;
  position: absolute;
  top: 0px;
}

.recipe-card img{
  max-width: 12rem;
  max-height: 12rem;
}

.recipe-card h3{
  margin-top: 8.5rem;
  font-size: 1.05rem;
  font-weight: 600;
}

.recipetext-area{
  background-color: #f9fafb;
  border-radius: 1.5em;
  margin: 0.5rem 0.5rem;
  width: 30em;
  height: 38em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-alltext{
  background-color: white;
  border-radius: 1rem;
  width: 90%;
  height: 90%;
  padding: 0rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  
}

.recipe-alltext h5{
  text-align: center;
  font-weight: 600;
  margin-top: 5rem;
}

.recipe-alltext-img{
  border-radius: 1rem;
  margin: 1rem;
  max-width: 100%;
  min-height: 12rem;
  /*margin-bottom: 2rem;*/
  align-self: center;
  overflow: hidden;
}

.recipe-alltext-img img{
  height: 17rem;
}

.recipe-alltext-title{
  text-align: center;
  margin-bottom: 0.5rem;
}

.recipe-title{
  font-size: 1.2rem;
  font-weight: 600;
}

.recipe-blue{
  font-size: 1.1rem;
  font-weight: 600;
  color: #0554f6;
}

.recipe-smalltext{
  font-size: 0.8rem;
}

.recipe-ingredient{
  overflow: scroll;
  scrollbar-width: none;
}

.font-boldweight{
  font-weight: 600;
}

.nutri-font{
  font-weight: 600;
  font-size: 0.9rem;
  text-align: center;
}

@media screen and (max-width:48rem){
  .recipe{
      width: 25em;
  }

  .recipetext-area{
      width: 25em;
  }

  .recipe-alltext{
      overflow: scroll;
      scrollbar-width: none;
  }

  .recipe-ingredient{
      overflow: visible;
  }

  .nutri-font{
      font-size: 0.7rem;
  }

  .recipe-research button{
      margin: 0.5rem;
      width: 20rem;
  }
}
/* recipe style end */

/* 경일님 */
.howto {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  background-color: #007bff;
  padding: 10px;
  padding-top: 150px;
  border-radius: 5px;
  box-shadow: 0 rgba(0,0,0,0.1);
  margin-bottom: 15px;
  text-align: center;
  align-items: center;
}

.linemenuview {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.linemenu {
  margin-right: 10px;
  white-space: nowrap;
  background-color: #7d9cbb;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  min-width: 80px;
  max-width: 150px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;    
}

.exec {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.execmain{
  margin-left: 10em;
  width:80%;
}