.info-area{
    background-color: #fc6c7c;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;

}



.info-text-area{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.info-text-area h1{
    font-size: 5em;
    margin: 0;
}
.info-text-area h4{
    margin-top: 1em;
}

.self-check-area{
    margin-top: 3em;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.self-check-area div{
    border: 1px solid black;
    display: inline-block;
    padding: 1em;

    background-color: #c366eb;
    color: white;
}


.name-height-weight-area{
    margin-top: 5em;

    display: flex;
    justify-content: space-around;
}



/* ----버튼 css */

.body-check-area button{
  background-color: white;
  color: black;
  border: 1px solid white;
  border-radius: 150px;
  padding: 10px 20px;
  cursor: pointer;
}
.body-check-button-clicked{
    background-color: red;
    color: white;
    border: 1px solid red;
}



.like-exercise-check-area button{

    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 150px;
    padding: 10px 20px;
    cursor: pointer;
}
.like-exercise-check-button-clicked{
    background-color: green;
    color: white;
    border: 1px solid green;
}



.like-food-check-area button{

    background-color: white;
    color: black;
    border: 1px solid white;
    border-radius: 150px;
    padding: 10px 20px;
    cursor: pointer;
}
.like-food-check-button-clicked{
    background-color: blue;
    color: white;
    border: 1px solid blue;
}